.App {
  text-align: center;

}

.App-logo1 {
  animation: App-logo-spin infinite 0.24s linear;
  height: 80px;
  float: left;
  margin: 0 auto;
}

.App-logo2 {
  animation: App-logo-spin infinite 0.24s linear;
  height: 80px;
  float: right;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  min-height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Showcase {
  min-height:400px;
  background: url('./Webcafe.PNG') no-repeat 0 -250px;
  background-size: cover;
  text-align:center;
  color:#black;
}

.App-intro {
  font-size: large;
  margin: 0 auto;
  text-shadow: 10px 5px 10px pink;
  background: yellow;
  background-blend-mode:luminosity;
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// Newsletter

/* Newsletter */
.wrapper{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

.wrapper h1 input{
  float:left;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  @include box-sizing(border-box);
}

.wrapper form {
  max-width: 220px;
  padding: 15px 35px 45px;
  margin: 5px auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  float:right;
  font-size: 14px;
  margin-top:15px;
}

.wrapper input[type="email"]{
  padding:4px;
  height:25px;
  position: relative;
  font-size: 14px;
  height: auto;
  padding: 10px;
  margin: 10px;
  @include box-sizing(border-box);
}

.wrapper button{
  width: 70px;
  padding: 0px;
  margin: 2px auto;

}
